.album {
    &_thumbnail {
        width: 300px;
        height: 200px;
    }
    &_thumbnail img {
        width: 100%;
        border-radius: 25px;
    }
    &_name {
        font-weight: bold;
    }
}
